body {
    background-color: #1A171E;
}

h1 {
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 0 1rem;
}

.content {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    height: 100vh;
    grid-template-rows: 0.2fr 0.9fr 0.9fr;
    padding: 1rem;
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 2px;
    width: 100%;
}

.btn-first-language, .btn-change-language, .btn-second-language {
    background-color: #F5F5F5;
    text-align: center;
    color: #1A171E;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    height: 38px;
}

.text-field {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #FFF;
    font-size: 1.4rem;
    height: 100%;
    border: none;
}

.text-field:focus {
    outline-color: #1A171E;
}

.translated-text-field {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #F5F5F5;
    height: 100%;
    font-size: 1.4rem;
    opacity: 0.9;
}

@media (min-width: 769px) {
    .content {
        grid-template-areas: "btns direita"
                             "esquerda direita";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.9fr 1fr;
        gap: 0px;
    }

    .text-field {
        grid-area: esquerda;
        padding: 0px;
        margin-right: 2px;
    }
    .container-buttons {
        grid-area: btns;
        padding: 0px;
        width: auto;
        margin-right: 2px;
    }
    .translated-text-field {
        grid-area: direita;
    }
}
